<h1>{{household.name}}</h1>
<hr>
{{#if household.members}}
   <h3>Members: </h3>
   <ul>
      {{#each household.members}}
         <li>{{this}}</li>
      {{/each}}
   </ul>
{{else}}
   <p>No members yet</p>
{{/if}}
{{!-- <a href="">Add members</a> --}}

{{#if household.meals}}
<h3>Meals: </h3>
<ul>
   {{#each household.meals}}
      <li>{{this.name}} on {{this.day}}{{#if this.chef}} cooked by {{this.chef}}.{{/if}}</li>
   {{/each}}
</ul>
<a href="/households/{{household._id}}/true/meals">Details</a>
<br><br>
{{else}}
   <p>No meals yet</p>
{{/if}}
<a href="/households/{{household._id}}/true/meals/new">Add meal</a>

<br><br>

<a href="/households/{{household._id}}/edit/">Edit Household</a>

<hr>

<a href="/households/">Back to households</a>