<h1>New Meal</h1>
<hr>
{{#if isHousehold}}
      <form action='/households/{{userId}}/true/meals' method='POST'>
{{else}}
      <form action='/users/{{userId}}/false/meals' method='POST'>
{{/if}}

   <label for='name'>Name:</label>
   <input type='text' name='name' required='true'>

   <br><br>

   <label for='meal'>Meal:</label>
   <select name='meal' required='true'>
         <option value='Breakfast'>Breakfast</option>
         <option value='Lunch'>Lunch</option>
         <option value='Dinner'>Dinner</option>
   </select>

   <br><br>

   <label for='day'>Day:</label>
   <select name='day' required='true'>
         <option value='Sunday'>Sunday</option>
         <option value='Monday'>Monday</option>
         <option value='Tuesday'>Tuesday</option>
         <option value='Wednesday'>Wednesday</option>
         <option value='Thursday'>Thursday</option>
         <option value='Friday'>Friday</option>
         <option value='Saturday'>Saturday</option>
   </select>

   <br><br>

   <label for='ingredients'>Ingredients:</label><br>
   <textarea cols="50" rows="3" type='text' name='ingredients'></textarea>
   <br>
   <label>(seperate with a comma and space)</label>

   <br><br>

{{#if isHousehold}}
   <label for='chef'>Chef:</label>
   <select name='chef'>
         {{#each members}}
            <option value="{{this}}">{{this}}</option>
         {{/each}}
   </select>
{{/if}}
   
   <button type='submit'>Add Meal</button>


</form>
<hr>
{{#if isHousehold}}
<a href="/households/{{userId}}/true/meals/">Cancel</a>
{{else}}
<a href="/users/{{userId}}/false/meals/">Cancel</a>
{{/if}}