<h1>{{meal.name}}</h1>
<hr>
<div>
   <h1>{{meal.meal}} on {{meal.day}}</h1>
   {{#if meal.chef}}
      <h2>Cooked by {{meal.chef}}</h2>
   {{/if}}
   <h3>Ingredients:</h3>
   <ul>
      {{#each ingredients}}
         <li>
            {{this}}
         </li>
      {{/each}}
   </ul>

{{#if isHousehold}}
   <a href="/households/{{userId}}/true/meals/{{meal._id}}/edit">Edit</a>
   <a href="/households/{{userId}}/true/meals/{{meal._id}}/delete">Remove</a>
</div>
   <hr>
   <a href="/households/{{userId}}/true/meals">back</a>

{{else}}

   <a href="/users/{{userId}}/false/meals/{{meal._id}}/edit">Edit</a>
   <a href="/users/{{userId}}/false/meals/{{meal._id}}/delete">Remove</a>
</div>
   <hr>
   <a href="/users/{{userId}}/false/meals">back</a>
{{/if}}