<h1>{{user.name}}</h1>
<h3>Username: {{user.username}}</h3>
{{#if user.meals}}
<label>Meals: </label>
<ul>
   {{#each user.meals}}
      <li>{{this.name}} on {{this.day}}</li>
   {{/each}}
</ul>
{{else}}
   <p>No meals yet</p>
{{/if}}
<a href="/users/{{user._id}}/edit/">Edit</a>
<br><br>
<a href="/users/">Back to users</a>